img {  
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;  
  text-align: center;
}

img:before {  
  content: "Извините, изображение не загруженно :(";
  display: block;
  margin-bottom: 10px;
}

img:after {  
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Стили для фона скролл-бара */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Стили для самого скролл-бара */
::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

/* Для горизонтального скролл-бара */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #007bff;
  border-radius: 10px;
}

/* 🔹 Кастомный скролл */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Цвет ползунка */
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Цвет фона скролла */
}

